<a href="https://colab.research.google.com/github/Naeem2121870/BIG-DATA/blob/main/WEEK_1_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION OF PYTHON**

In [ ]:
 #integers, float, etc.. python

x= 3
y = 10.3
Msg = 'Result'
fx = x+y * 10 ** 2 #math operations
print ('The Result is',fx)

The Result is 1033.0

In [ ]:
 #A bit of formating the output
print(f'The{Msg} is {fx}')

TheResult is 1033.0

In [ ]:
print (f'The modulo operation inp Python is %, so for instace 10%3 is {10%3}')

The modulo operation inp Python is %, so for instace 10%3 is 1

# **LISTS**

In [ ]:
my_lst = [1,2,3,4,5,6,7,8,9,10]
print ('First element in the list is', my_lst[0])
print ('Last element in the list is', my_lst [len(my_lst)-1])##

First element in the list is 1
Last element in the list is 10

In [ ]:
#slicing is an important concept in accessing elements in the list
sub_lst = my_lst[2:4]# returns a list of the 2nd, 3rd and 4th element of the above list
sub_lst

[3, 4]

In [ ]:
#more on slicing
my_lst [:1] # first element
my_lst [1:]#all elements apart from the first one
my_lst [-1:] #last element
my_lst [:-1] #all elements apart from the last one

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**STRING**

In [ ]:
msg = 'Welcome to RGU'
print(msg[1])
print(f'first char of msg is {msg[0]}')

e
first char of msg is W

In [ ]:
tuple_example = 1,2,4,10,24
print (tuple_example)

(1, 2, 4, 10, 24)

In [ ]:
print (tuple_example[0])
print (tuple_example [:2])
print (tuple_example [:3]) #notice this returns tuples
print (tuple_example [1:])
print (tuple_example)

1
(1, 2)
(1, 2, 4)
(2, 4, 10, 24)
(1, 2, 4, 10, 24)

**DICTIONARY**

In [ ]:
#dictionary to represent taught modules
module_dict = {
    "Code" : "CM3111",
    "Name": "Big Data Analytics",
    "Year": 2020,
    "Stage":3
}
print (module_dict)

{'Code': 'CM3111', 'Name': 'Big Data Analytics', 'Year': 2020, 'Stage': 3}

In [ ]:
print (f'Module {module_dict["Code"]}')
print(f'Is {module_dict["Name"]}')
print(f'And will be taught to students of Stage {module_dict["Stage"]}')
print (f'And will be delivered in the year {module_dict["Year"]}')

Module CM3111
Is Big Data Analytics
And will be taught to students of Stage 3
And will be delivered in the year 2020

In [ ]:
print(module_dict.get('Code'))

CM3111

In [ ]:
module_dict["Year"] = 2021
print (module_dict["Year"])

2021

In [ ]:
for key, value in module_dict.items():
  print(key,':',value)

Code : CM3111
Name : Big Data Analytics
Year : 2021
Stage : 3

In [ ]:
print(type(module_dict))#dict
print(type(tuple_example))## tuple
print(type(my_lst))#

<class 'dict'>
<class 'tuple'>
<class 'list'>

**PYTHON CASTING**

In [ ]:
float_v = 1.1
int_v =1
string_v = 'this is string'
#check data types

In [ ]:
print(type(float_v))
print(type(int_v))
print(type(string_v))

<class 'float'>
<class 'int'>
<class 'str'>

**LOGICAL OPERATIONS**

In [ ]:
print(1 ==1)#check if two values are equal
print(10<9) #less than
print (10>9) #greater than
print (10>=9) #greater than or equal

True
False
True
True

In [ ]:
small =10
big = 100
results = ((small <big) and (big%small ==0))
results1 = ((small<big) and (big%small!=0))
results2 = ((small <big) or (big%small!=0))
results3 = ((small >big) or (big%small!=0))
print(f'({small} <{big}) and ({big}%{small}==0)', results)
print(f'({small} <{big}) and ({big}%{small}!==0)', results1)
print(f'({small} <{big}) and ({big}%{small}!==0)', results2)
print(f'({small} >{big}) and ({big}%{small}!==0)', results3)

(10 <100) and (100%10==0) True
(10 <100) and (100%10!==0) False
(10 <100) and (100%10!==0) True
(10 >100) and (100%10!==0) False