<a href="https://colab.research.google.com/github/Naeem2121870/BIG-DATA/blob/main/WEEK_1_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION OF PYTHON**

In [ ]:
 #integers, float, etc.. python

x= 3
y = 10.3
Msg = 'Result'
fx = x+y * 10 ** 2 #math operations
print ('The Result is',fx)

The Result is 1033.0

In [ ]:
 #A bit of formating the output
print(f'The{Msg} is {fx}')

TheResult is 1033.0

In [ ]:
print (f'The modulo operation inp Python is %, so for instace 10%3 is {10%3}')

The modulo operation inp Python is %, so for instace 10%3 is 1

# **LISTS**

In [ ]:
my_lst = [1,2,3,4,5,6,7,8,9,10]
print ('First element in the list is', my_lst[0])
print ('Last element in the list is', my_lst [len(my_lst)-1])##

First element in the list is 1
Last element in the list is 10

In [ ]:
#slicing is an important concept in accessing elements in the list
sub_lst = my_lst[2:4]# returns a list of the 2nd, 3rd and 4th element of the above list
sub_lst

[3, 4]

In [ ]:
#more on slicing
my_lst [:1] # first element
my_lst [1:]#all elements apart from the first one
my_lst [-1:] #last element
my_lst [:-1] #all elements apart from the last one

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**STRING**

In [ ]:
msg = 'Welcome to RGU'
print(msg[1])
print(f'first char of msg is {msg[0]}')

e
first char of msg is W

In [ ]:
tuple_example = 1,2,4,10,24
print (tuple_example)

(1, 2, 4, 10, 24)

In [ ]:
print (tuple_example[0])
print (tuple_example [:2])
print (tuple_example [:3]) #notice this returns tuples
print (tuple_example [1:])
print (tuple_example)

1
(1, 2)
(1, 2, 4)
(2, 4, 10, 24)
(1, 2, 4, 10, 24)

**DICTIONARY**

In [ ]:
#dictionary to represent taught modules
module_dict = {
    "Code" : "CM3111",
    "Name": "Big Data Analytics",
    "Year": 2020,
    "Stage":3
}
print (module_dict)

{'Code': 'CM3111', 'Name': 'Big Data Analytics', 'Year': 2020, 'Stage': 3}

In [ ]:
print (f'Module {module_dict["Code"]}')
print(f'Is {module_dict["Name"]}')
print(f'And will be taught to students of Stage {module_dict["Stage"]}')
print (f'And will be delivered in the year {module_dict["Year"]}')

Module CM3111
Is Big Data Analytics
And will be taught to students of Stage 3
And will be delivered in the year 2020

In [ ]:
print(module_dict.get('Code'))

CM3111

In [ ]:
module_dict["Year"] = 2021
print (module_dict["Year"])

2021

In [ ]:
for key, value in module_dict.items():
  print(key,':',value)

Code : CM3111
Name : Big Data Analytics
Year : 2021
Stage : 3

In [ ]:
print(type(module_dict))#dict
print(type(tuple_example))## tuple
print(type(my_lst))#

<class 'dict'>
<class 'tuple'>
<class 'list'>

**PYTHON CASTING**

In [ ]:
float_v = 1.1
int_v =1
string_v = 'this is string'
#check data types

In [ ]:
print(type(float_v))
print(type(int_v))
print(type(string_v))

<class 'float'>
<class 'int'>
<class 'str'>

**LOGICAL OPERATIONS**

In [ ]:
print(1 ==1)#check if two values are equal
print(10<9) #less than
print (10>9) #greater than
print (10>=9) #greater than or equal

True
False
True
True

In [ ]:
small =10
big = 100
results = ((small <big) and (big%small ==0))
results1 = ((small<big) and (big%small!=0))
results2 = ((small <big) or (big%small!=0))
results3 = ((small >big) or (big%small!=0))
print(f'({small} <{big}) and ({big}%{small}==0)', results)
print(f'({small} <{big}) and ({big}%{small}!==0)', results1)
print(f'({small} <{big}) and ({big}%{small}!==0)', results2)
print(f'({small} >{big}) and ({big}%{small}!==0)', results3)

(10 <100) and (100%10==0) True
(10 <100) and (100%10!==0) False
(10 <100) and (100%10!==0) True
(10 >100) and (100%10!==0) False

**Conditions and Loops**

**IF Statement**

In [ ]:
a =33
b=200
if b>a:
  print ('b is greater than a because', f"{b} is greater than {a}")
else:
  print (f"{b} is greater thaN {a}")

b is greater than a because 200 is greater than 33

**elif**

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
if a>b : print("a is greater than b")

a is greater than b

In [ ]:
a=200
b=33
c=500
#both conditions must be true
if a>b and c>a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
a=200
b=33
c=500

if a>b or a>c:
  print ("AT least one of the conditions is True")

AT least one of the conditions is True

**While**

In [ ]:
i = 1
while i<10:
  print(f'{i} to power 2 is {i**2}')
  i +=1

1 to power 2 is 1
2 to power 2 is 4
3 to power 2 is 9
4 to power 2 is 16
5 to power 2 is 25
6 to power 2 is 36
7 to power 2 is 49
8 to power 2 is 64
9 to power 2 is 81

**Break**

In [ ]:
i =1
while i<10:
  print (f'{i} to the power 2 is {i**2}')
  i +=1
  if i>5:
    break

1 to the power 2 is 1
2 to the power 2 is 4
3 to the power 2 is 9
4 to the power 2 is 16
5 to the power 2 is 25

In [5]:
i = 0
while i<10:
   i+= 1 #i =i+1
   if i==5: #skip five
      continue
   print(f'{i} to the power 2 is {i**2}')

1 to the power 2 is 1
2 to the power 2 is 4
3 to the power 2 is 9
4 to the power 2 is 16
6 to the power 2 is 36
7 to the power 2 is 49
8 to the power 2 is 64
9 to the power 2 is 81
10 to the power 2 is 100

In [6]:
ds_tools = ["Python", "R", "Git"]
for tool in ds_tools:
  print ('Data Science Tool:', tool)

Data Science Tool: Python
Data Science Tool: R
Data Science Tool: Git

In [7]:
#range keyword
for i in range (10):
    print(f'square of {i} is {i**2}')

square of 0 is 0
square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81

In [8]:
#loop through letters of a string
for i in 'The University':
    print(i)
    if i ==' ':
        break

T
h
e

## **Function**

In [10]:
def power_func(x):
    results = x**2
    results = results * 2 + 5
    return results
    power_func(5)

In [13]:
def cubic_x (x,y):
    return x**y +5

In [14]:
x = 3
y = 2
print (f'{x}^{y} + 5 is {cubic_x(x,y)}')

3^2 + 5 is 14

In [16]:
def my_course (*courses):
    print("I am considering the following courses" + courses[1])

my_course ("CS", "DS", "Eng")

I am considering the following coursesDS

### **Python Lambda**

In [17]:
x = lambda a : a + 10
print(x(5))

15

In [18]:
x = lambda a,b : a*b
print(x(5,6))

30

## **IMPORT STATEMENT**

In [ ]:
#You will be working with some common libraries such as
import pandas as pd
import numpy as np
# ...

In [19]:
#Math library
import math
pi = math.pi
print(pi)

3.141592653589793

# **Introduction to Pandas and Numpy**

In [28]:
import pandas as pd
import numpy as np

In [ ]:
## df = pd.read_csv('data/Auto.csv')
df.head ()##
print (f'The Size of df is {df.shape}') # 397 row and n coloumn

In [ ]:
df.columns

In [ ]:
type(df['mpg']) #check the type of a column

In [ ]:
cars70 = df[df.year==70]
cars70.head()

In [ ]:
print (f'Number of cars in cars70 DataFrame is {cars70.shape[0]}')